# Python для исследователей

Автор: *Татьяна Рогович, НИУ ВШЭ*

# Парсинг таблиц с Beautiful soup

Мы с вами посмотрели как создавать html-файлы. Давайте начнем с игрушечного примера, чтобы теперь разобраться, как информацию из таблиц доставать.

Сначала мы импортируем библиотеку `requests`. Она позволяет нам просто  и удобно посылать HTTP/1.1 запросы, не утруждаясь ручным трудом.

In [7]:
import codecs
f=codecs.open("simple_table.html", 'r')

In [10]:
link = 'https://raw.githubusercontent.com/aaparshina/DPO_21_Python_for_Data_Analysis/main/12_WebScraping/simple_table.html'

Теперь мы должны указать адрес страницы с которой мы будем скрейпить данные и сохраним ее в переменную `website_url`.
`requests.get(url).text` обратиться к сайту и вернет `HTML` код сайта.

In [11]:
website_url = requests.get(link).text

По ссылке совсем небольшой файл - почти такой же как тот, который мы с вами сделали в интерактивном тренажере.

In [12]:
website_url

'<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n</head>\n<body>\n\n<h1>Моя первая html-страница</h1>\n<h2>О себе</h2>\n<p>Я учусь создавать html-страницы.</p>\n\n<table border="1">\n<caption>Информация</caption>\n<tr>\n<th>Фамилия</th>\n<th>Имя</th>\n<th>Возраст</th>\n</tr>\n<tr>\n<td>Тамбовцева</td>\n<td>Алла</td>\n<td>24</td>\n</tr>\n<tr>\n<td>Иванов</td>\n<td>Петр</td>\n<td>32</td>\n</tr>\n<tr>\n<td>Константинопольский</td>\n<td>Константин</td>\n<td>29</td>\n</tr>\n</table>\n    \n<table>\n<tr>\n<td>Тамбовцева</td>\n<td>Алла</td>\n<td>24</td>\n</tr>\n</table>\n\n</body>\n</html>'

Как мы видим, весь код представлен просто блоком текста, который неудобно читать и разбирать. Поэтому мы создадим объект `BeautifulSoup` с помощью функциии `BeautifulSoup`, предварительно импортировав саму библиотеку. `Beautiful Soup` это библиотека для парсинга `HTML` и `XML` документов. Она создает дерево из `HTML` кода, что очень полезно при скрейпинге. Функция `prettify()` позволяет видеть код в более удобном виде, в том числе с разбивкой по тегам.

In [13]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(website_url)
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h1>
   Моя первая html-страница
  </h1>
  <h2>
   О себе
  </h2>
  <p>
   Я учусь создавать html-страницы.
  </p>
  <table border="1">
   <caption>
    Информация
   </caption>
   <tr>
    <th>
     Фамилия
    </th>
    <th>
     Имя
    </th>
    <th>
     Возраст
    </th>
   </tr>
   <tr>
    <td>
     Тамбовцева
    </td>
    <td>
     Алла
    </td>
    <td>
     24
    </td>
   </tr>
   <tr>
    <td>
     Иванов
    </td>
    <td>
     Петр
    </td>
    <td>
     32
    </td>
   </tr>
   <tr>
    <td>
     Константинопольский
    </td>
    <td>
     Константин
    </td>
    <td>
     29
    </td>
   </tr>
  </table>
  <table>
   <tr>
    <td>
     Тамбовцева
    </td>
    <td>
     Алла
    </td>
    <td>
     24
    </td>
   </tr>
  </table>
 </body>
</html>

Видим, что .preffify() упорядочил наш html код и представил его в видел дерева и вложенных узлов. Давайте попробуем найти таблицу. За поиск отвечает метод .find_all(), которому мы передаем тэг для поиска.

In [14]:
tables = soup.find_all('table')
print(tables)

[<table border="1">
<caption>Информация</caption>
<tr>
<th>Фамилия</th>
<th>Имя</th>
<th>Возраст</th>
</tr>
<tr>
<td>Тамбовцева</td>
<td>Алла</td>
<td>24</td>
</tr>
<tr>
<td>Иванов</td>
<td>Петр</td>
<td>32</td>
</tr>
<tr>
<td>Константинопольский</td>
<td>Константин</td>
<td>29</td>
</tr>
</table>, <table>
<tr>
<td>Тамбовцева</td>
<td>Алла</td>
<td>24</td>
</tr>
</table>]

Получили на выходе список, который содержит все элементы, принадлежащие к тэгу. В этом примере таблиц у нас две, каждая из них является отдельным элементом списка.

In [15]:
tables[1]

<table>
<tr>
<td>Тамбовцева</td>
<td>Алла</td>
<td>24</td>
</tr>
</table>

Иногда таблиц очень много (уже скоро увидим такое на реальном примере), поэтому поисковый запрос можно уточнить с помощью аттрибутов тэга. Так, если посмотрим на код, увидим, что у нашей первой таблицы есть атрибут border со значением 1. Передадим это уточнение в bs в виде словаря. То, что до знака равно (атрибут) - ключ, а его значение - значение.

In [18]:
tables = soup.find_all('table', {'border':1}) # так поиск вернет только одну таблицу.
print(tables)

[<table border="1">
<caption>Информация</caption>
<tr>
<th>Фамилия</th>
<th>Имя</th>
<th>Возраст</th>
</tr>
<tr>
<td>Тамбовцева</td>
<td>Алла</td>
<td>24</td>
</tr>
<tr>
<td>Иванов</td>
<td>Петр</td>
<td>32</td>
</tr>
<tr>
<td>Константинопольский</td>
<td>Константин</td>
<td>29</td>
</tr>
</table>]

Давайте теперь, например, в один список сохраним фамилии людей из нашей таблицы, а в другой возраст.

In [19]:
rows = tables[0].find_all('tr') # нашли теперь все ряды в таблице
print(rows[0])

<tr>
<th>Фамилия</th>
<th>Имя</th>
<th>Возраст</th>
</tr>

Нашли все ряды. Первый ряд с заголовками колонок (тэги th, можно его пропустить).

In [20]:
rows[1].find_all('td')

Добрались до внутреннего тэга td - глубже идти некуда. Тут три элемента (три колонки). Давайте забирать отсюда возраст и фамилию.

In [21]:
rows[1].find_all('td')[0].text.strip()

'Тамбовцева'

Чтобы избавиться от тэгов используем атрибут text - выводит текст, который лежит между тэгами. Еще для надежности можно использовать strip() - удалит невидимые символы, если они есть, а если их нет, то ошибки тоже не выдаст.

In [22]:
surnames = []
ages = []

for row in rows[1:]: # начинаем цикл со второго объекта
    surnames.append(row.find_all('td')[0].text.strip())
    ages.append(row.find_all('td')[2].text.strip())
    
print(surnames, ages)

['Тамбовцева', 'Иванов', 'Константинопольский'] ['24', '32', '29']

А теперь давайте запишем собранную информацию в файл. Табличные данные часто хранятся в формате csv - comma separated values, поэтому будем просто записывать значения в текстовый файл через запятую.

In [27]:
with open('table.csv', 'w', encoding = 'utf8') as ouf:
    for idx in range(len(surnames)):
        print(f'{surnames[idx]},{ages[idx]}', file = ouf)

In [28]:
with open('table.csv', encoding='utf8') as f:
    for line in f:
        print(line)

Тамбовцева,24

Иванов,32

Константинопольский,29

# А теперь парсим реальную табличку с wiki

Будем работать со страницей вики, на которой находится информация о испытаниях ядерного оружия. 
https://en.wikipedia.org/wiki/List_of_nuclear_weapons_tests

Нашей задачей будет достать вторую таблицу Worldwide nuclear test with a yield of 1.4 Mt TNT equivalent and more и сохранить из нее в три списка три колонки - Date, Yield (мощность взрыва) и Country.

In [35]:
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_nuclear_weapons_tests').text
# print(website_url)

In [36]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(website_url)

# print(soup.prettify())

Здесь таблиц уже будет много, и чтобы найти нужную уже точно понадобится атрибут.

In [32]:
len(soup.find_all('table'))

18

Если внимательно изучить код `HTML` искомой таблицы, то можно обнаружить что вся таблица находится в классе `Wikitable Sortable` (для включения отображения кода сайта в вашем браузере можно нажать правкой кнопкой мыши на таблицу и выбрать пункт *Исследовать элемент* или в любом месте страницы и *Показать исходный код*).

Поэтому первой задачей будет найти класс *wikitable sortable* в коде `HTML`. Это можно сделать с помощью функции `find_all`, указав в качестве аргументов, что мы ищем тэг `table` с классом `wikitable sortable`.

In [76]:
My_table = soup.find_all('table',{'class':['wikitable', 'sortable', 'jquery-tablesorter']})
My_table

[<table class="wikitable sortable" style="text-align:center; font-size:90%">
 <caption>Worldwide nuclear testing totals by country
 </caption>
 <tbody><tr>
 <th style="text-align:left;"><a href="/wiki/List_of_states_with_nuclear_weapons" title="List of states with nuclear weapons">Country</a>
 </th>
 <th><a href="/wiki/Nuclear_weapons_testing" title="Nuclear weapons testing">Tests</a> <sup class="reference" id="cite_ref-5"><a href="#cite_note-5">[a]</a></sup>
 </th>
 <th><a href="/wiki/List_of_nuclear_weapons" title="List of nuclear weapons">Devices</a> fired <sup class="reference" id="cite_ref-6"><a href="#cite_note-6">[b]</a></sup>
 </th>
 <th><a href="/wiki/List_of_nuclear_weapons" title="List of nuclear weapons">Devices</a> w/ <br/> unknown yields <sup class="reference" id="cite_ref-7"><a href="#cite_note-7">[c]</a></sup>
 </th>
 <th><a class="mw-redirect" href="/wiki/Peaceful_nuclear_explosions" title="Peaceful nuclear explosions">Peaceful use tests</a> <sup class="reference" id="cite_ref-8"><a href="#cite_note-8">[d]</a></sup>
 </th>
 <th><a href="/wiki/Partial_Nuclear_Test_Ban_Treaty" title="Partial Nuclear Test Ban Treaty">Non-PTBT tests</a> <sup class="reference" id="cite_ref-9"><a href="#cite_note-9">[e]</a></sup>
 </th>
 <th class="unsortable"><a href="/wiki/Nuclear_weapon_yield" title="Nuclear weapon yield">Yield range</a> (kilotons)
 </th>
 <th><a href="/wiki/Nuclear_weapon_yield" title="Nuclear weapon yield">Total yield</a> (kilotons)
 </th>
 <th>Percentage by tests
 </th>
 <th>Percentage by yield
 </th></tr>
 <tr>
 <th style="text-align:left;"><a class="mw-redirect" href="/wiki/List_of_nuclear_weapons_tests_of_the_United_States" title="List of nuclear weapons tests of the United States">USA</a><sup class="reference" id="cite_ref-Yang_2-1"><a href="#cite_note-Yang-2">[2]</a></sup><sup class="reference" id="cite_ref-doe209_10-0"><a href="#cite_note-doe209-10">[5]</a></sup>
 </th>
 <td><span data-sort-value="1032 !">1,032</span> <sup class="reference" id="cite_ref-11"><a href="#cite_note-11">[f]</a></sup>
 </td>
 <td><span data-sort-value="1127 !">1,132</span>
 </td>
 <td><span data-sort-value="0008 !">12</span>
 </td>
 <td><span data-sort-value="0027 !">27</span> <sup class="reference" id="cite_ref-12"><a href="#cite_note-12">[g]</a></sup><br/><small>(<a class="mw-redirect" href="/wiki/Operation_Plowshare" title="Operation Plowshare">Operation Plowshare</a>)</small>
 </td>
 <td><span data-sort-value="0214 !">231</span>
 </td>
 <td>0 to 15,000
 </td>
 <td><span data-sort-value="196513 !">196,514</span> <sup class="reference" id="cite_ref-13"><a href="#cite_note-13">[h]</a></sup>
 </td>
 <td><span data-sort-value="4880000 !">48.7%</span>
 </td>
 <td><span data-sort-value="3700000 !">36.3%</span>
 </td></tr>
 <tr>
 <th style="text-align:left;"><a href="/wiki/List_of_nuclear_weapons_tests_of_the_Soviet_Union" title="List of nuclear weapons tests of the Soviet Union">USSR</a><sup class="reference" id="cite_ref-Yang_2-2"><a href="#cite_note-Yang-2">[2]</a></sup><sup class="reference" id="cite_ref-USSRList2_14-0"><a href="#cite_note-USSRList2-14">[6]</a></sup>
 </th>
 <td><span data-sort-value="0727 !">727</span> <sup class="reference" id="cite_ref-16"><a href="#cite_note-16">[i]</a></sup>
 </td>
 <td><span data-sort-value="0980 !">981</span>
 </td>
 <td><span data-sort-value="0248 !">248</span>
 </td>
 <td><span data-sort-value="0156 !">156</span> <sup class="reference" id="cite_ref-17"><a href="#cite_note-17">[j]</a></sup><br/><small>(<a href="/wiki/Nuclear_Explosions_for_the_National_Economy" title="Nuclear Explosions for the National Economy">Nuclear Explosions for the National Economy</a>)</small>
 </td>
 <td><span data-sort-value="0229 !">229</span>
 </td>
 <td>0 to 50,000
 </td>
 <td><span data-sort-value="296837 !">296,837</span>
 </td>
 <td><span data-sort-value="34.40000 !">34.4%</span>
 </td>
 <td><span data-sort-value="54.00000 !">54.9%</span>
 </td></tr>
 <tr>
 <th style="text-align:left;"><a class="mw-redirect" href="/wiki/List_of_nuclear_weapons_tests_of_the_United_Kingdom" title="List of nuclear weapons tests of the United Kingdom">UK</a><sup class="reference" id="cite_ref-Yang_2-3"><a href="#cite_note-Yang-2">[2]</a></sup>
 </th>
 <td><span data-sort-value="0088 !">88</span> <sup class="reference" id="cite_ref-18"><a href="#cite_note-18">[k]</a></sup>
 </td>
 <td><span data-sort-value="0088 !">88</span>
 </td>
 <td><span data-sort-value="0031 !">31</span>c
 </td>
 <td><span data-sort-value="0000 !">0</span>
 </td>
 <td><span data-sort-value="0021 !">21</span>
 </td>
 <td>0 to 3,000
 </td>
 <td><span data-sort-value="009282 !">9,282</span>
 </td>
 <td><span data-sort-value="04.20000 !">4.15%</span>
 </td>
 <td><span data-sort-value="01.80000 !">1.72%</span>
 </td></tr>
 <tr>
 <th style="text-align:left;"><a href="/wiki/List_of_nuclear_weapons_tests_of_France" title="List of nuclear weapons tests of France">France</a><sup class="reference" id="cite_ref-Yang_2-4"><a href="#cite_note-Yang-2">[2]</a></sup>
 </th>
 <td><span data-sort-value="0217 !">217</span> <sup class="reference" id="cite_ref-20"><a href="#cite_note-20">[l]</a></sup>
 </td>
 <td><span data-sort-value="0217 !">217</span>
 </td>
 <td><span data-sort-value="0000 !">0</span>
 </td>
 <td><span data-sort-value="0004 !">4</span> <sup class="reference" id="cite_ref-21"><a href="#cite_note-21">[m]</a></sup>
 </td>
 <td><span data-sort-value="0057 !">57</span>
 </td>
 <td>0 to 2,600
 </td>
 <td><span data-sort-value="013567 !">13,567</span>
 </td>
 <td><span data-sort-value="10.00000 !">10.2%</span>
 </td>
 <td><span data-sort-value="02.60000 !">2.51%</span>
 </td></tr>
 <tr>
 <th style="text-align:left;"><a href="/wiki/List_of_nuclear_weapons_tests_of_China" title="List of nuclear weapons tests of China">China</a><sup class="reference" id="cite_ref-Yang_2-5"><a href="#cite_note-Yang-2">[2]</a></sup>
 </th>
 <td><span data-sort-value="0047 !">47</span> <sup class="reference" id="cite_ref-22"><a href="#cite_note-22">[n]</a></sup>
 </td>
 <td><span data-sort-value="0047 !">48</span>
 </td>
 <td><span data-sort-value="0007 !">7</span>
 </td>
 <td><span data-sort-value="0000 !">0</span>
 </td>
 <td><span data-sort-value="0023 !">23</span>
 </td>
 <td>0 to 4,000
 </td>
 <td><span data-sort-value="024409 !">24,409</span>
 </td>
 <td><span data-sort-value="02.20000 !">2.22%</span>
 </td>
 <td><span data-sort-value="04.60000 !">4.51%</span>
 </td></tr>
 <tr>
 <th style="text-align:left;"><a href="/wiki/List_of_nuclear_weapons_tests_of_India" title="List of nuclear weapons tests of India">India</a><sup class="reference" id="cite_ref-Yang_2-6"><a href="#cite_note-Yang-2">[2]</a></sup>
 </th>
 <td><span data-sort-value="0004 !">4</span>
 </td>
 <td><span data-sort-value="0006 !">6</span>
 </td>
 <td><span data-sort-value="0000 !">0</span>
 </td>
 <td><span data-sort-value="0001 !">1</span> <sup class="reference" id="cite_ref-23"><a href="#cite_note-23">[o]</a></sup>
 </td>
 <td><span data-sort-value="0000 !">0</span>
 </td>
 <td>0 to 60
 </td>
 <td><span data-sort-value="000070 !">70</span>
 </td>
 <td><span data-sort-value="00.14000 !">0.141%</span>
 </td>
 <td><span data-sort-value="00.13000 !">0.013%</span>
 </td></tr>
 <tr>
 <th style="text-align:left;"><a href="/wiki/List_of_nuclear_weapons_tests_of_Pakistan" title="List of nuclear weapons tests of Pakistan">Pakistan</a><sup class="reference" id="cite_ref-Yang_2-7"><a href="#cite_note-Yang-2">[2]</a></sup>
 </th>
 <td><span data-sort-value="0002 !">2</span>
 </td>
 <td><span data-sort-value="0006 !">6</span> <sup class="reference" id="cite_ref-24"><a href="#cite_note-24">[p]</a></sup>
 </td>
 <td><span data-sort-value="0000 !">0</span>
 </td>
 <td><span data-sort-value="0000 !">0</span>
 </td>
 <td><span data-sort-value="0000 !">0</span>
 </td>
 <td>1 to 32
 </td>
 <td><span data-sort-value="000051 !">51</span>
 </td>
 <td><span data-sort-value="00.09500 !">0.107%</span>
 </td>
 <td><span data-sort-value="00.00960 !">0.0094%</span>
 </td></tr>
 <tr>
 <th style="text-align:left;"><span class="nowrap"><a href="/wiki/List_of_nuclear_weapons_tests_of_North_Korea" title="List of nuclear weapons tests of North Korea">North Korea</a><sup class="reference" id="cite_ref-Yang_2-8"><a href="#cite_note-Yang-2">[2]</a></sup></span>
 </th>
 <td><span data-sort-value="0006 !">6</span>
 </td>
 <td><span data-sort-value="0006 !">6</span>
 </td>
 <td><span data-sort-value="0000 !">0</span>
 </td>
 <td><span data-sort-value="0000 !">0</span>
 </td>
 <td><span data-sort-value="0000 !">0</span>
 </td>
 <td>1 to 250
 </td>
 <td><span data-sort-value="00197.8 !">197.8</span>
 </td>
 <td><span data-sort-value="00.283 !">0.283%</span>
 </td>
 <td><span data-sort-value="00.0244 !">0.036%</span>
 </td></tr>
 <tr class="sortbottom">
 <th>Total
 </th>
 <th>2,121
 </th>
 <th>2,476
 </th>
 <th>294
 </th>
 <th>188
 </th>
 <th>604
 </th>
 <th>0 to 50,000
 </th>
 <th>540,849
 </th>
 <th>
 </th>
 <th>
 </th></tr></tbody></table>,
 <table class="wikitable sortable" style="text-align:center;">
 <caption>Worldwide nuclear test with a yield of 1.4 Mt TNT equivalent and more
 </caption>
 <tbody><tr>
 <th>Date (GMT)
 </th>
 <th>Yield (megatons)
 </th>
 <th>Deployment
 </th>
 <th>Country
 </th>
 <th>Test Site
 </th>
 <th>Name or Number
 </th></tr>
 <tr>
 <td>October 30, 1961</td>
 <td>50</td>
 <td>parachute air drop</td>
 <td>Soviet Union</td>
 <td><a href="/wiki/Novaya_Zemlya" title="Novaya Zemlya">Novaya Zemlya</a></td>
 <td><a href="/wiki/Tsar_Bomba" title="Tsar Bomba">Tsar Bomba</a>, Test #130
 </td></tr>
 <tr>
 <td>December 24, 1962</td>
 <td>24.2</td>
 <td>missile warhead</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td><a href="/wiki/Test_219" title="Test 219">Test #219</a>
 </td></tr>
 <tr>
 <td>August 5, 1962</td>
 <td>21.1</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #147
 </td></tr>
 <tr>
 <td>September 27, 1962</td>
 <td>20.0</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #174
 </td></tr>
 <tr>
 <td>September 25, 1962</td>
 <td>19.1</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #173
 </td></tr>
 <tr>
 <td>March 1, 1954</td>
 <td>15</td>
 <td>ground</td>
 <td>USA</td>
 <td><a href="/wiki/Bikini_Atoll" title="Bikini Atoll">Bikini Atoll</a></td>
 <td><a href="/wiki/Castle_Bravo" title="Castle Bravo">Castle Bravo</a>
 </td></tr>
 <tr>
 <td>May 5, 1954</td>
 <td>13.5</td>
 <td>barge</td>
 <td>USA</td>
 <td>Bikini Atoll</td>
 <td><a href="/wiki/Castle_Yankee" title="Castle Yankee">Castle Yankee</a>
 </td></tr>
 <tr>
 <td>October 23, 1961</td>
 <td>12.5</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #123
 </td></tr>
 <tr>
 <td>March 26, 1954</td>
 <td>11.0</td>
 <td>barge</td>
 <td>USA</td>
 <td>Bikini Atoll</td>
 <td><a href="/wiki/Castle_Romeo" title="Castle Romeo">Castle Romeo</a>
 </td></tr>
 <tr>
 <td>October 31, 1952</td>
 <td>10.4</td>
 <td>ground</td>
 <td>USA</td>
 <td><a href="/wiki/Enewetak_Atoll" title="Enewetak Atoll">Enewetak Atoll</a></td>
 <td><a href="/wiki/Ivy_Mike" title="Ivy Mike">Ivy Mike</a>
 </td></tr>
 <tr>
 <td>August 25, 1962</td>
 <td>10.0</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #158
 </td></tr>
 <tr>
 <td>September 19, 1962</td>
 <td>10.0</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #168
 </td></tr>
 <tr>
 <td>July 11, 1958</td>
 <td>9.3</td>
 <td>barge</td>
 <td>USA</td>
 <td>Bikini Atoll</td>
 <td>Poplar
 </td></tr>
 <tr>
 <td>June 28, 1958</td>
 <td>8.9</td>
 <td>barge</td>
 <td>USA</td>
 <td>Enewetak Atoll</td>
 <td>Oak
 </td></tr>
 <tr>
 <td>October 30, 1962</td>
 <td>8.3</td>
 <td>air drop</td>
 <td>USA</td>
 <td><a href="/wiki/Johnston_Atoll" title="Johnston Atoll">Johnston Atoll</a></td>
 <td>Housatonic
 </td></tr>
 <tr>
 <td>October 22, 1962</td>
 <td>8.2</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #183
 </td></tr>
 <tr>
 <td>June 27, 1962</td>
 <td>7.7</td>
 <td>air drop</td>
 <td>USA</td>
 <td><a href="/wiki/Kiritimati" title="Kiritimati">Kiritimati</a></td>
 <td>Bighorn
 </td></tr>
 <tr>
 <td>April 25, 1954</td>
 <td>6.9</td>
 <td>barge</td>
 <td>USA</td>
 <td>Bikini Atoll</td>
 <td><a href="/wiki/Castle_Union" title="Castle Union">Castle Union</a>
 </td></tr>
 <tr>
 <td>July 20, 1956</td>
 <td>5.0</td>
 <td>barge</td>
 <td>USA</td>
 <td>Bikini Atoll</td>
 <td>Tewa
 </td></tr>
 <tr>
 <td>October 31, 1961</td>
 <td>5.0</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #131
 </td></tr>
 <tr>
 <td>November 6, 1971</td>
 <td>4.8</td>
 <td>underground shaft</td>
 <td>USA</td>
 <td><a href="/wiki/Amchitka" title="Amchitka">Amchitka</a></td>
 <td><a href="/wiki/Cannikin" title="Cannikin">Cannikin</a>
 </td></tr>
 <tr>
 <td>July 10, 1956</td>
 <td>4.5</td>
 <td>barge</td>
 <td>USA</td>
 <td>Bikini Atoll</td>
 <td>Navajo
 </td></tr>
 <tr>
 <td>August 27, 1962</td>
 <td>4.2</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #160
 </td></tr>
 <tr>
 <td>October 6, 1961</td>
 <td>4.0</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #114
 </td></tr>
 <tr>
 <td>October 27, 1973</td>
 <td>4.0</td>
 <td>underground shaft</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #392
 </td></tr>
 <tr>
 <td>November 17, 1976</td>
 <td>4.0</td>
 <td>air drop</td>
 <td>China</td>
 <td><a href="/wiki/Lop_Nur" title="Lop Nur">Lop Nur</a></td>
 <td>Test (21)
 </td></tr>
 <tr>
 <td>July 11, 1962</td>
 <td>3.9</td>
 <td>parachuted</td>
 <td>USA</td>
 <td>Kiritimati</td>
 <td>Pamlico
 </td></tr>
 <tr>
 <td>May 20, 1956</td>
 <td>3.8</td>
 <td>free air drop</td>
 <td>USA</td>
 <td>Bikini Atoll</td>
 <td>Cherokee
 </td></tr>
 <tr>
 <td>August 1, 1958</td>
 <td>3.8</td>
 <td>high alt rocket</td>
 <td>USA</td>
 <td>Johnston Atoll</td>
 <td><a href="/wiki/Hardtack_Teak" title="Hardtack Teak">Teak</a>
 </td></tr>
 <tr>
 <td>August 12, 1958</td>
 <td>3.8</td>
 <td>high alt rocket</td>
 <td>USA</td>
 <td>Johnston Atoll</td>
 <td>Orange
 </td></tr>
 <tr>
 <td>September 12, 1973</td>
 <td>3.8</td>
 <td>tunnel</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #385 - 1
 </td></tr>
 <tr>
 <td>May 27, 1956</td>
 <td>3.5</td>
 <td>dry surface</td>
 <td>USA</td>
 <td>Bikini Atoll</td>
 <td>Zuni
 </td></tr>
 <tr>
 <td>October 14, 1970</td>
 <td>3.4</td>
 <td>air drop</td>
 <td>China</td>
 <td>Lop Nur</td>
 <td>CHIC-11
 </td></tr>
 <tr>
 <td>September 16, 1962</td>
 <td>3.3</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #166
 </td></tr>
 <tr>
 <td>June 17, 1967</td>
 <td>3.3</td>
 <td>parachuted</td>
 <td>China</td>
 <td>Lop Nur</td>
 <td><a href="/wiki/Test_No._6" title="Test No. 6">CHIC-6</a>
 </td></tr>
 <tr>
 <td>September 15, 1962</td>
 <td>3.1</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #165
 </td></tr>
 <tr>
 <td>December 25, 1962</td>
 <td>3.1</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #220
 </td></tr>
 <tr>
 <td>April 28, 1958</td>
 <td>3.0</td>
 <td>air drop</td>
 <td>UK</td>
 <td>Kiritimati</td>
 <td>Grapple Y
 </td></tr>
 <tr>
 <td>October 4, 1961</td>
 <td>3.0</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #113
 </td></tr>
 <tr>
 <td>June 10, 1962</td>
 <td>3.0</td>
 <td>free air drop</td>
 <td>USA</td>
 <td>Kiritimati</td>
 <td>Yeso
 </td></tr>
 <tr>
 <td>December 27, 1968</td>
 <td>3.0</td>
 <td>air drop</td>
 <td>China</td>
 <td>Lop Nur</td>
 <td>CHIC-8
 </td></tr>
 <tr>
 <td>September 29, 1969</td>
 <td>3.0</td>
 <td>air drop</td>
 <td>China</td>
 <td>Lop Nur</td>
 <td>CHIC-10
 </td></tr>
 <tr>
 <td>June 27, 1973</td>
 <td>3.0</td>
 <td>air drop</td>
 <td>China</td>
 <td>Lop Nur</td>
 <td>Test (15)
 </td></tr>
 <tr>
 <td>October 6, 1957</td>
 <td>2.9</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #47
 </td></tr>
 <tr>
 <td>October 18, 1958</td>
 <td>2.9</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #73
 </td></tr>
 <tr>
 <td>October 22, 1958</td>
 <td>2.8</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #78
 </td></tr>
 <tr>
 <td>August 20, 1962</td>
 <td>2.8</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #152
 </td></tr>
 <tr>
 <td>September 10, 1961</td>
 <td>2.7</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>90 Vozduj
 </td></tr>
 <tr>
 <td>August 24, 1968</td>
 <td>2.6</td>
 <td>balloon</td>
 <td>France</td>
 <td><a href="/wiki/Fangataufa" title="Fangataufa">Fangataufa</a></td>
 <td><a href="/wiki/Canopus_(nuclear_test)" title="Canopus (nuclear test)">Canopus</a>
 </td></tr>
 <tr>
 <td>September 27, 1971</td>
 <td>2.5</td>
 <td>tunnel</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #345 - 1
 </td></tr>
 <tr>
 <td>September 21, 1962</td>
 <td>2.4</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #169
 </td></tr>
 <tr>
 <td>November 2, 1974</td>
 <td>2.3</td>
 <td>underground shaft</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #411
 </td></tr>
 <tr>
 <td>October 14, 1970</td>
 <td>2.2</td>
 <td>tunnel</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #327 - 1
 </td></tr>
 <tr>
 <td>July 26, 1958</td>
 <td>2.0</td>
 <td>barge</td>
 <td>USA</td>
 <td>Enewetak Atoll</td>
 <td>Pine
 </td></tr>
 <tr>
 <td>July 8, 1956</td>
 <td>1.9</td>
 <td>barge</td>
 <td>USA</td>
 <td>Enewetak Atoll</td>
 <td>Apache
 </td></tr>
 <tr>
 <td>September 8, 1962</td>
 <td>1.9</td>
 <td>high alt rocket</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>164 Tyulpan
 </td></tr>
 <tr>
 <td>March 26, 1970</td>
 <td>1.9</td>
 <td>underground shaft</td>
 <td>USA</td>
 <td><a href="/wiki/Nevada_Test_Site" title="Nevada Test Site">Nevada</a></td>
 <td>Handley
 </td></tr>
 <tr>
 <td>November 8, 1957</td>
 <td>1.8</td>
 <td>air drop</td>
 <td>UK</td>
 <td>Kiritimati</td>
 <td>Grapple X
 </td></tr>
 <tr>
 <td>May 13, 1954</td>
 <td>1.7</td>
 <td>barge</td>
 <td>USA</td>
 <td>Enewetak Atoll</td>
 <td>Nectar
 </td></tr>
 <tr>
 <td>November 22, 1955</td>
 <td>1.6</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td><a href="/wiki/Semey" title="Semey">Semipalatinsk</a></td>
 <td>24 Binarnaya
 </td></tr>
 <tr>
 <td>September 24, 1957</td>
 <td>1.6</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #45
 </td></tr>
 <tr>
 <td>August 22, 1962</td>
 <td>1.6</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #154
 </td></tr>
 <tr>
 <td>October 18, 1962</td>
 <td>1.6</td>
 <td>parachuted</td>
 <td>USA</td>
 <td>Johnston Atoll</td>
 <td>Chama
 </td></tr>
 <tr>
 <td>February 27, 1958</td>
 <td>1.5</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #54
 </td></tr>
 <tr>
 <td>June 14, 1958</td>
 <td>1.5</td>
 <td>barge</td>
 <td>USA</td>
 <td>Enewetak Atoll</td>
 <td>Walnut
 </td></tr>
 <tr>
 <td>October 12, 1958</td>
 <td>1.5</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #71
 </td></tr>
 <tr>
 <td>October 15, 1958</td>
 <td>1.5</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #72
 </td></tr>
 <tr>
 <td>September 20, 1961</td>
 <td>1.5</td>
 <td>high alt rocket</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>106 Volga1
 </td></tr>
 <tr>
 <td>October 20, 1961</td>
 <td>1.5</td>
 <td>high alt rocket</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td><a href="/wiki/Raduga_(nuclear_test)" title="Raduga (nuclear test)">121 Raduga</a>
 </td></tr>
 <tr>
 <td>November 4, 1961</td>
 <td>1.5</td>
 <td>air drop</td>
 <td>Soviet Union</td>
 <td>Novaya Zemlya</td>
 <td>Test #140
 </td></tr>
 <tr>
 <td>May 11, 1958</td>
 <td>1.4</td>
 <td>barge</td>
 <td>USA</td>

Но как вы могли заметить, то на страницы есть две таблицы, которые принадлежат этому классу. Функция `find_all` вернет все найденные объекты в виде списка. Поэтому проверим второй найденный элемент.

In [43]:
My_table[1]

<table class="wikitable sortable" style="text-align:center;">
<caption>Worldwide nuclear test with a yield of 1.4 Mt TNT equivalent and more
</caption>
<tbody><tr>
<th>Date (GMT)
</th>
<th>Yield (megatons)
</th>
<th>Deployment
</th>
<th>Country
</th>
<th>Test Site
</th>
<th>Name or Number
</th></tr>
<tr>
<td>October 30, 1961</td>
<td>50</td>
<td>parachute air drop</td>
<td>Soviet Union</td>
<td><a href="/wiki/Novaya_Zemlya" title="Novaya Zemlya">Novaya Zemlya</a></td>
<td><a href="/wiki/Tsar_Bomba" title="Tsar Bomba">Tsar Bomba</a>, Test #130
</td></tr>
<tr>
<td>December 24, 1962</td>
<td>24.2</td>
<td>missile warhead</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td><a href="/wiki/Test_219" title="Test 219">Test #219</a>
</td></tr>
<tr>
<td>August 5, 1962</td>
<td>21.1</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #147
</td></tr>
<tr>
<td>September 27, 1962</td>
<td>20.0</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #174
</td></tr>
<tr>
<td>September 25, 1962</td>
<td>19.1</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #173
</td></tr>
<tr>
<td>March 1, 1954</td>
<td>15</td>
<td>ground</td>
<td>USA</td>
<td><a href="/wiki/Bikini_Atoll" title="Bikini Atoll">Bikini Atoll</a></td>
<td><a href="/wiki/Castle_Bravo" title="Castle Bravo">Castle Bravo</a>
</td></tr>
<tr>
<td>May 5, 1954</td>
<td>13.5</td>
<td>barge</td>
<td>USA</td>
<td>Bikini Atoll</td>
<td><a href="/wiki/Castle_Yankee" title="Castle Yankee">Castle Yankee</a>
</td></tr>
<tr>
<td>October 23, 1961</td>
<td>12.5</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #123
</td></tr>
<tr>
<td>March 26, 1954</td>
<td>11.0</td>
<td>barge</td>
<td>USA</td>
<td>Bikini Atoll</td>
<td><a href="/wiki/Castle_Romeo" title="Castle Romeo">Castle Romeo</a>
</td></tr>
<tr>
<td>October 31, 1952</td>
<td>10.4</td>
<td>ground</td>
<td>USA</td>
<td><a href="/wiki/Enewetak_Atoll" title="Enewetak Atoll">Enewetak Atoll</a></td>
<td><a href="/wiki/Ivy_Mike" title="Ivy Mike">Ivy Mike</a>
</td></tr>
<tr>
<td>August 25, 1962</td>
<td>10.0</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #158
</td></tr>
<tr>
<td>September 19, 1962</td>
<td>10.0</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #168
</td></tr>
<tr>
<td>July 11, 1958</td>
<td>9.3</td>
<td>barge</td>
<td>USA</td>
<td>Bikini Atoll</td>
<td>Poplar
</td></tr>
<tr>
<td>June 28, 1958</td>
<td>8.9</td>
<td>barge</td>
<td>USA</td>
<td>Enewetak Atoll</td>
<td>Oak
</td></tr>
<tr>
<td>October 30, 1962</td>
<td>8.3</td>
<td>air drop</td>
<td>USA</td>
<td><a href="/wiki/Johnston_Atoll" title="Johnston Atoll">Johnston Atoll</a></td>
<td>Housatonic
</td></tr>
<tr>
<td>October 22, 1962</td>
<td>8.2</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #183
</td></tr>
<tr>
<td>June 27, 1962</td>
<td>7.7</td>
<td>air drop</td>
<td>USA</td>
<td><a href="/wiki/Kiritimati" title="Kiritimati">Kiritimati</a></td>
<td>Bighorn
</td></tr>
<tr>
<td>April 25, 1954</td>
<td>6.9</td>
<td>barge</td>
<td>USA</td>
<td>Bikini Atoll</td>
<td><a href="/wiki/Castle_Union" title="Castle Union">Castle Union</a>
</td></tr>
<tr>
<td>July 20, 1956</td>
<td>5.0</td>
<td>barge</td>
<td>USA</td>
<td>Bikini Atoll</td>
<td>Tewa
</td></tr>
<tr>
<td>October 31, 1961</td>
<td>5.0</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #131
</td></tr>
<tr>
<td>November 6, 1971</td>
<td>4.8</td>
<td>underground shaft</td>
<td>USA</td>
<td><a href="/wiki/Amchitka" title="Amchitka">Amchitka</a></td>
<td><a href="/wiki/Cannikin" title="Cannikin">Cannikin</a>
</td></tr>
<tr>
<td>July 10, 1956</td>
<td>4.5</td>
<td>barge</td>
<td>USA</td>
<td>Bikini Atoll</td>
<td>Navajo
</td></tr>
<tr>
<td>August 27, 1962</td>
<td>4.2</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #160
</td></tr>
<tr>
<td>October 6, 1961</td>
<td>4.0</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #114
</td></tr>
<tr>
<td>October 27, 1973</td>
<td>4.0</td>
<td>underground shaft</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #392
</td></tr>
<tr>
<td>November 17, 1976</td>
<td>4.0</td>
<td>air drop</td>
<td>China</td>
<td><a href="/wiki/Lop_Nur" title="Lop Nur">Lop Nur</a></td>
<td>Test (21)
</td></tr>
<tr>
<td>July 11, 1962</td>
<td>3.9</td>
<td>parachuted</td>
<td>USA</td>
<td>Kiritimati</td>
<td>Pamlico
</td></tr>
<tr>
<td>May 20, 1956</td>
<td>3.8</td>
<td>free air drop</td>
<td>USA</td>
<td>Bikini Atoll</td>
<td>Cherokee
</td></tr>
<tr>
<td>August 1, 1958</td>
<td>3.8</td>
<td>high alt rocket</td>
<td>USA</td>
<td>Johnston Atoll</td>
<td><a href="/wiki/Hardtack_Teak" title="Hardtack Teak">Teak</a>
</td></tr>
<tr>
<td>August 12, 1958</td>
<td>3.8</td>
<td>high alt rocket</td>
<td>USA</td>
<td>Johnston Atoll</td>
<td>Orange
</td></tr>
<tr>
<td>September 12, 1973</td>
<td>3.8</td>
<td>tunnel</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #385 - 1
</td></tr>
<tr>
<td>May 27, 1956</td>
<td>3.5</td>
<td>dry surface</td>
<td>USA</td>
<td>Bikini Atoll</td>
<td>Zuni
</td></tr>
<tr>
<td>October 14, 1970</td>
<td>3.4</td>
<td>air drop</td>
<td>China</td>
<td>Lop Nur</td>
<td>CHIC-11
</td></tr>
<tr>
<td>September 16, 1962</td>
<td>3.3</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #166
</td></tr>
<tr>
<td>June 17, 1967</td>
<td>3.3</td>
<td>parachuted</td>
<td>China</td>
<td>Lop Nur</td>
<td><a href="/wiki/Test_No._6" title="Test No. 6">CHIC-6</a>
</td></tr>
<tr>
<td>September 15, 1962</td>
<td>3.1</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #165
</td></tr>
<tr>
<td>December 25, 1962</td>
<td>3.1</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #220
</td></tr>
<tr>
<td>April 28, 1958</td>
<td>3.0</td>
<td>air drop</td>
<td>UK</td>
<td>Kiritimati</td>
<td>Grapple Y
</td></tr>
<tr>
<td>October 4, 1961</td>
<td>3.0</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #113
</td></tr>
<tr>
<td>June 10, 1962</td>
<td>3.0</td>
<td>free air drop</td>
<td>USA</td>
<td>Kiritimati</td>
<td>Yeso
</td></tr>
<tr>
<td>December 27, 1968</td>
<td>3.0</td>
<td>air drop</td>
<td>China</td>
<td>Lop Nur</td>
<td>CHIC-8
</td></tr>
<tr>
<td>September 29, 1969</td>
<td>3.0</td>
<td>air drop</td>
<td>China</td>
<td>Lop Nur</td>
<td>CHIC-10
</td></tr>
<tr>
<td>June 27, 1973</td>
<td>3.0</td>
<td>air drop</td>
<td>China</td>
<td>Lop Nur</td>
<td>Test (15)
</td></tr>
<tr>
<td>October 6, 1957</td>
<td>2.9</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #47
</td></tr>
<tr>
<td>October 18, 1958</td>
<td>2.9</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #73
</td></tr>
<tr>
<td>October 22, 1958</td>
<td>2.8</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #78
</td></tr>
<tr>
<td>August 20, 1962</td>
<td>2.8</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #152
</td></tr>
<tr>
<td>September 10, 1961</td>
<td>2.7</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>90 Vozduj
</td></tr>
<tr>
<td>August 24, 1968</td>
<td>2.6</td>
<td>balloon</td>
<td>France</td>
<td><a href="/wiki/Fangataufa" title="Fangataufa">Fangataufa</a></td>
<td><a href="/wiki/Canopus_(nuclear_test)" title="Canopus (nuclear test)">Canopus</a>
</td></tr>
<tr>
<td>September 27, 1971</td>
<td>2.5</td>
<td>tunnel</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #345 - 1
</td></tr>
<tr>
<td>September 21, 1962</td>
<td>2.4</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #169
</td></tr>
<tr>
<td>November 2, 1974</td>
<td>2.3</td>
<td>underground shaft</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #411
</td></tr>
<tr>
<td>October 14, 1970</td>
<td>2.2</td>
<td>tunnel</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #327 - 1
</td></tr>
<tr>
<td>July 26, 1958</td>
<td>2.0</td>
<td>barge</td>
<td>USA</td>
<td>Enewetak Atoll</td>
<td>Pine
</td></tr>
<tr>
<td>July 8, 1956</td>
<td>1.9</td>
<td>barge</td>
<td>USA</td>
<td>Enewetak Atoll</td>
<td>Apache
</td></tr>
<tr>
<td>September 8, 1962</td>
<td>1.9</td>
<td>high alt rocket</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>164 Tyulpan
</td></tr>
<tr>
<td>March 26, 1970</td>
<td>1.9</td>
<td>underground shaft</td>
<td>USA</td>
<td><a href="/wiki/Nevada_Test_Site" title="Nevada Test Site">Nevada</a></td>
<td>Handley
</td></tr>
<tr>
<td>November 8, 1957</td>
<td>1.8</td>
<td>air drop</td>
<td>UK</td>
<td>Kiritimati</td>
<td>Grapple X
</td></tr>
<tr>
<td>May 13, 1954</td>
<td>1.7</td>
<td>barge</td>
<td>USA</td>
<td>Enewetak Atoll</td>
<td>Nectar
</td></tr>
<tr>
<td>November 22, 1955</td>
<td>1.6</td>
<td>air drop</td>
<td>Soviet Union</td>
<td><a href="/wiki/Semey" title="Semey">Semipalatinsk</a></td>
<td>24 Binarnaya
</td></tr>
<tr>
<td>September 24, 1957</td>
<td>1.6</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #45
</td></tr>
<tr>
<td>August 22, 1962</td>
<td>1.6</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #154
</td></tr>
<tr>
<td>October 18, 1962</td>
<td>1.6</td>
<td>parachuted</td>
<td>USA</td>
<td>Johnston Atoll</td>
<td>Chama
</td></tr>
<tr>
<td>February 27, 1958</td>
<td>1.5</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #54
</td></tr>
<tr>
<td>June 14, 1958</td>
<td>1.5</td>
<td>barge</td>
<td>USA</td>
<td>Enewetak Atoll</td>
<td>Walnut
</td></tr>
<tr>
<td>October 12, 1958</td>
<td>1.5</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #71
</td></tr>
<tr>
<td>October 15, 1958</td>
<td>1.5</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #72
</td></tr>
<tr>
<td>September 20, 1961</td>
<td>1.5</td>
<td>high alt rocket</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>106 Volga1
</td></tr>
<tr>
<td>October 20, 1961</td>
<td>1.5</td>
<td>high alt rocket</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td><a href="/wiki/Raduga_(nuclear_test)" title="Raduga (nuclear test)">121 Raduga</a>
</td></tr>
<tr>
<td>November 4, 1961</td>
<td>1.5</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #140
</td></tr>
<tr>
<td>May 11, 1958</td>
<td>1.4</td>
<td>barge</td>
<td>USA</td>
<td>Bikini Atoll</td>
<td>Fir
</td></tr>
<tr>
<td>May 12, 1958</td>
<td>1.4</td>
<td>dry surface</td>
<td>USA</td>
<td>Enewetak Atoll</td>
<td>Koa
</td></tr>
<tr>
<td>July 9, 1962</td>
<td>1.4</td>
<td>space rocket</td>
<td>USA</td>
<td>Johnston Atoll</td>
<td><a href="/wiki/Starfish_Prime" title="Starfish Prime">Starfish Prime</a>
</td></tr>
<tr>
<td>September 18, 1962</td>
<td>1.4</td>
<td>air drop</td>
<td>Soviet Union</td>
<td>Novaya Zemlya</td>
<td>Test #167
</td></tr></tbody></table>

Все верно, это наша искомая таблица. Если дальше изучить содержимое таблицы, то станет понятно что внутри тега `th` находится заголовок таблицы, а внутри `td` строки таблицы. А оба этих тега находятся внутри тегов `tr` что является по факту строкой таблицы. Давайте извлечем все строки таблицы также используя функцию `find_all`.

In [44]:
rows = My_table[1].find_all('tr')
# print(rows)

Давайте внимательно изучим содержимое одной строки, вытащим все `td`. Отобразим вторую строчку:

In [45]:
rows[1].find_all('td')

[<td>October 30, 1961</td>,
 <td>50</td>,
 <td>parachute air drop</td>,
 <td>Soviet Union</td>,
 <td><a href="/wiki/Novaya_Zemlya" title="Novaya Zemlya">Novaya Zemlya</a></td>,
 <td><a href="/wiki/Tsar_Bomba" title="Tsar Bomba">Tsar Bomba</a>, Test #130
 </td>]

Мы видим нужные нам данные между тегов `<td><\td>`, а также ссылки с тегом `<a>` и даже смешанные ячейки с обоими этими вариантами. Давайте сначала извлечем просто данные. Для этого используем функцию `get_text()` - она вернет все что между тегами.

Возьмем, например, дату (она будет первым элементом):

In [48]:
rows[1].find_all('td')[0].text

'October 30, 1961'

Единственное, нам нужно отдельно обработать, это первую строку, в которой хранится заголовок ряда (table header)

In [49]:
rows[0].find_all('th')[0].text

'Date (GMT)\n'

Все классно, только давайте избавимся от знака переноса строки.

In [50]:
rows[0].find_all('th')[0].text.strip()

'Date (GMT)'

Давайте теперь извлечем все даты. Создадим список для их хранения `Dates` и будет итерироваться по всем элементам:

In [51]:
Dates = []

Dates.append(rows[0].find_all('th')[0].text.strip()) # отдельно добавляем заголовок

for row in rows[1:]: # начинаем со второго ряда таблицы, потому что 0 уже обработали выше
    r = row.find_all('td') # находим все теги td для строки таблицы
    Dates.append(r[0].text.strip()) # сохраняем данные в наш список

print(Dates)

['Date (GMT)', 'October 30, 1961', 'December 24, 1962', 'August 5, 1962', 'September 27, 1962', 'September 25, 1962', 'March 1, 1954', 'May 5, 1954', 'October 23, 1961', 'March 26, 1954', 'October 31, 1952', 'August 25, 1962', 'September 19, 1962', 'July 11, 1958', 'June 28, 1958', 'October 30, 1962', 'October 22, 1962', 'June 27, 1962', 'April 25, 1954', 'July 20, 1956', 'October 31, 1961', 'November 6, 1971', 'July 10, 1956', 'August 27, 1962', 'October 6, 1961', 'October 27, 1973', 'November 17, 1976', 'July 11, 1962', 'May 20, 1956', 'August 1, 1958', 'August 12, 1958', 'September 12, 1973', 'May 27, 1956', 'October 14, 1970', 'September 16, 1962', 'June 17, 1967', 'September 15, 1962', 'December 25, 1962', 'April 28, 1958', 'October 4, 1961', 'June 10, 1962', 'December 27, 1968', 'September 29, 1969', 'June 27, 1973', 'October 6, 1957', 'October 18, 1958', 'October 22, 1958', 'August 20, 1962', 'September 10, 1961', 'August 24, 1968', 'September 27, 1971', 'September 21, 1962', 'November 2, 1974', 'October 14, 1970', 'July 26, 1958', 'July 8, 1956', 'September 8, 1962', 'March 26, 1970', 'November 8, 1957', 'May 13, 1954', 'November 22, 1955', 'September 24, 1957', 'August 22, 1962', 'October 18, 1962', 'February 27, 1958', 'June 14, 1958', 'October 12, 1958', 'October 15, 1958', 'September 20, 1961', 'October 20, 1961', 'November 4, 1961', 'May 11, 1958', 'May 12, 1958', 'July 9, 1962', 'September 18, 1962']

Ок! Следующие колонки, которые нам нужны - мощность взрыва и страна. Давайте поймем, где их искать.

In [28]:
rows[0]

<tr>
<th>Date (GMT)
</th>
<th>Yield (megatons)
</th>
<th>Deployment
</th>
<th>Country
</th>
<th>Test Site
</th>
<th>Name or Number
</th></tr>

Видим, что Yield вторая колонка, а страна третья. Соберем их в отдельные списки по той же схеме, что дату. Но сначала проверим, что правильно посчитали номера.

In [29]:
rows[0].find_all('th')[1]

<th>Yield (megatons)
</th>

In [56]:
rows[0].find_all('th')[3]

<th>Country
</th>

Вроде все правильно. Единственно, не забудем хранить числа как float.

In [53]:
Yield = []

Yield.append(rows[0].find_all('th')[1].text.strip()) # отдельно добавляем заголовок

for row in rows[1:]: # начинаем со второго ряда таблицы, потому что 0 уже обработали выше
    r = row.find_all('td') # находим все теги td для строки таблицы
    Yield.append(float(r[1].text.strip())) # сохраняем данные в наш список и переводим в float

print(Yield)

['Yield (megatons)', 50.0, 24.2, 21.1, 20.0, 19.1, 15.0, 13.5, 12.5, 11.0, 10.4, 10.0, 10.0, 9.3, 8.9, 8.3, 8.2, 7.7, 6.9, 5.0, 5.0, 4.8, 4.5, 4.2, 4.0, 4.0, 4.0, 3.9, 3.8, 3.8, 3.8, 3.8, 3.5, 3.4, 3.3, 3.3, 3.1, 3.1, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 2.9, 2.9, 2.8, 2.8, 2.7, 2.6, 2.5, 2.4, 2.3, 2.2, 2.0, 1.9, 1.9, 1.9, 1.8, 1.7, 1.6, 1.6, 1.6, 1.6, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.4, 1.4, 1.4, 1.4]

In [54]:
Country = []

Country.append(rows[0].find_all('th')[3].text.strip()) # отдельно добавляем заголовок

for row in rows[1:]: # начинаем со второго ряда таблицы, потому что 0 уже обработали выше
    r = row.find_all('td') # находим все теги td для строки таблицы
    Country.append(r[3].text.strip()) # сохраняем данные в наш список и переводим в float

print(Country)

['Country', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'USA', 'USA', 'Soviet Union', 'USA', 'USA', 'Soviet Union', 'Soviet Union', 'USA', 'USA', 'USA', 'Soviet Union', 'USA', 'USA', 'USA', 'Soviet Union', 'USA', 'USA', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'China', 'USA', 'USA', 'USA', 'USA', 'Soviet Union', 'USA', 'China', 'Soviet Union', 'China', 'Soviet Union', 'Soviet Union', 'UK', 'Soviet Union', 'USA', 'China', 'China', 'China', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'France', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'USA', 'USA', 'Soviet Union', 'USA', 'UK', 'USA', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'USA', 'Soviet Union', 'USA', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'USA', 'USA', 'USA', 'Soviet Union']

In [57]:
print(Dates)
print(Yield)
print(Country)

['Date (GMT)', 'October 30, 1961', 'December 24, 1962', 'August 5, 1962', 'September 27, 1962', 'September 25, 1962', 'March 1, 1954', 'May 5, 1954', 'October 23, 1961', 'March 26, 1954', 'October 31, 1952', 'August 25, 1962', 'September 19, 1962', 'July 11, 1958', 'June 28, 1958', 'October 30, 1962', 'October 22, 1962', 'June 27, 1962', 'April 25, 1954', 'July 20, 1956', 'October 31, 1961', 'November 6, 1971', 'July 10, 1956', 'August 27, 1962', 'October 6, 1961', 'October 27, 1973', 'November 17, 1976', 'July 11, 1962', 'May 20, 1956', 'August 1, 1958', 'August 12, 1958', 'September 12, 1973', 'May 27, 1956', 'October 14, 1970', 'September 16, 1962', 'June 17, 1967', 'September 15, 1962', 'December 25, 1962', 'April 28, 1958', 'October 4, 1961', 'June 10, 1962', 'December 27, 1968', 'September 29, 1969', 'June 27, 1973', 'October 6, 1957', 'October 18, 1958', 'October 22, 1958', 'August 20, 1962', 'September 10, 1961', 'August 24, 1968', 'September 27, 1971', 'September 21, 1962', 'November 2, 1974', 'October 14, 1970', 'July 26, 1958', 'July 8, 1956', 'September 8, 1962', 'March 26, 1970', 'November 8, 1957', 'May 13, 1954', 'November 22, 1955', 'September 24, 1957', 'August 22, 1962', 'October 18, 1962', 'February 27, 1958', 'June 14, 1958', 'October 12, 1958', 'October 15, 1958', 'September 20, 1961', 'October 20, 1961', 'November 4, 1961', 'May 11, 1958', 'May 12, 1958', 'July 9, 1962', 'September 18, 1962']
['Yield (megatons)', 50.0, 24.2, 21.1, 20.0, 19.1, 15.0, 13.5, 12.5, 11.0, 10.4, 10.0, 10.0, 9.3, 8.9, 8.3, 8.2, 7.7, 6.9, 5.0, 5.0, 4.8, 4.5, 4.2, 4.0, 4.0, 4.0, 3.9, 3.8, 3.8, 3.8, 3.8, 3.5, 3.4, 3.3, 3.3, 3.1, 3.1, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 2.9, 2.9, 2.8, 2.8, 2.7, 2.6, 2.5, 2.4, 2.3, 2.2, 2.0, 1.9, 1.9, 1.9, 1.8, 1.7, 1.6, 1.6, 1.6, 1.6, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.4, 1.4, 1.4, 1.4]
['Country', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'USA', 'USA', 'Soviet Union', 'USA', 'USA', 'Soviet Union', 'Soviet Union', 'USA', 'USA', 'USA', 'Soviet Union', 'USA', 'USA', 'USA', 'Soviet Union', 'USA', 'USA', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'China', 'USA', 'USA', 'USA', 'USA', 'Soviet Union', 'USA', 'China', 'Soviet Union', 'China', 'Soviet Union', 'Soviet Union', 'UK', 'Soviet Union', 'USA', 'China', 'China', 'China', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'France', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'USA', 'USA', 'Soviet Union', 'USA', 'UK', 'USA', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'USA', 'Soviet Union', 'USA', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'Soviet Union', 'USA', 'USA', 'USA', 'Soviet Union']

Давайте опять сохраним данные в файл. Тут обратите внимание на запятую в дате - давайте сделаем разделителем табуляцию.

In [61]:
f = open('nuclear.csv', 'w')

for idx in range(len(Dates)):
    f.write(f'{Dates[idx]},{Yield[idx]},{Country[idx]}\n')
    
f.close()

In [62]:
df = pd.read_csv('nuclear.csv', index_col=None)
df.head()

              Date (GMT)  Yield (megatons)       Country
October 30          1961              50.0  Soviet Union
December 24         1962              24.2  Soviet Union
August 5            1962              21.1  Soviet Union
September 27        1962              20.0  Soviet Union
September 25        1962              19.1  Soviet Union

# И давайте немного задачек, чтобы освежить в памяти прошлые занятия.

1. Напишите функцию, которая берет аргументом название страны и возвращает (return) среднюю мощность взрыва для этой страны (нужно сложить все значения из колонки 'Yield (megatons)', которым соответствует страна, например, США, и раделить на количество этих значений). Для подсчета используйте списки, которые мы извлекли выше.
2. Из списка Country оставьте только уникальные значения для стран и запустите вашу функцию в цикле для каждого значения Country. Внутри цикла сделайте следующий вывод "{название страны}: средняя мощность взрыва {средняя мощность} мегатон"
3. Создайте словарь, ключом в котором будет страна, а значением список из количества испытаний и максимальной мощности взрыва.
4. Выведите ключи словаря из пункта 3 и максимальную мощность взрыва, отсортированные по максимальной мощности взрыва, от меньшего к большему.

In [66]:
df[df['Country'] == 'USA']['Yield (megatons)'].sum()/len(df[df['Country'] == 'USA']['Yield (megatons)'])

5.2555555555555555

In [67]:
# 1
def average_yield(country):
    yield_sum = 0 # создаем счетчитк, в который будем приплюсовывать мощность каждого испытания в заданной стране
    yield_count = 0 # создаем счетчик, в котором будем хранить количество испытаний
    for idx in range(len(Country)): # запускаем цикл для всех значений индексов списка Country
        if Country[idx] == country:   # проверяем, равно ли значение в списке Country стране, для которой вызвана функция
            yield_sum += Yield[idx]     # если да, то добавляем мощность взрыва под этим же индексом
            yield_count += 1            # считаем это исптание
    return round(yield_sum / yield_count,2)  # после окончания работы цикла возвращаем среднюю мощность

In [68]:
average_yield('USA')

5.26

In [69]:
# 2
for country in set(Country[1:]): # чтобы оставить только уникальные значения - делаем множество из списка + с помощью среза избавляемся от от заголовка колонки под индексом [0]
    print(country, ': средняя мощность взрыва', average_yield(country), 'мегатон')

UK : средняя мощность взрыва 2.4 мегатон
USA : средняя мощность взрыва 5.26 мегатон
France : средняя мощность взрыва 2.6 мегатон
China : средняя мощность взрыва 3.28 мегатон
Soviet Union : средняя мощность взрыва 6.56 мегатон

In [70]:
Country.count('USA')

27

In [71]:
# 3
d = {}
for x in set(Country[1:]):
    y = []
    for idx in range(len(Country[1:])):
        if Country[idx] == x:
            y.append(Yield[idx])        
    d[x] = [Country.count(x), max(y)]

print(d)

{'UK': [2, 3.0], 'USA': [27, 15.0], 'France': [1, 2.6], 'China': [6, 4.0], 'Soviet Union': [38, 50.0]}

In [72]:
# 4
for value in sorted(d.values(), key=lambda x:x[1]):
    for key in d:
        if d[key] == value:
            print(key, value[1])

France 2.6
UK 3.0
China 4.0
USA 15.0
Soviet Union 50.0