# Основы программирования в Python

*Алла Тамбовцева, НИУ ВШЭ*

### Работа с API: пример с API ВКонтакте

Сегодня мы немного поработаем с API. API – программный интерфейс приложения, сокращение от *Application Programming Interface*. Этот интерфейс позволяет выполнять различные операции автоматически, через приложение. Если API нам нужен исключительно как источник данных, можно писать запросы, позволяющие обратиться к хранилищу информации внутри API. Если мы хотим управлять приложением, которое будет выполнять какие-то действия, удаленно, можно написать код, который будет, например, автоматически отвечать на сообщения, когда мы не онлайн, лайкать новый пост друга через 30 секунд после его появления, пересылать на почту фотографии, которые выложили участники диалога и прочее.

Мы будем работать с API социальной сети ВКонтакте. Использовать API для написания и приема сообщений средствами Python мы не будем, а рассмотрим API как источник данных, позволяющий выгрузить все посты со стены пользователя или сообщества. Для работы нам понадобится библиотека `vk`, ее нужно установить через `pip install vk` в *Anaconda Command Prompt* (см. пример с `selenium` [здесь](https://nbviewer.jupyter.org/github/allatambov/Py-programming-3/blob/master/11-06/lect-selenium1.ipynb)).

Импортируем библиотеку:

In [2]:
!pip install vk

Collecting vk
  Downloading vk-2.0.2.tar.gz (7.0 kB)
Requirement already satisfied: requests<3.0,>=2.8 in ./opt/anaconda3/lib/python3.9/site-packages (from vk) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.8->vk) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.8->vk) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.8->vk) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.8->vk) (3.2)
Building wheels for collected packages: vk
  Building wheel for vk (setup.py) ... done
  Created wheel for vk: filename=vk-2.0.2-py3-none-any.whl size=8275 sha256=dce0e0ae119984640e9a4aabea3efdbcadbf9c9ccbe5291f2b7178cd5d3598b7
  Stored in directory: /Users/anastasiaparsina/Library/Caches/pip/wheels/18/12/65/557eef2d4aaeab693bd15ed182ad993bd0a1b3fbe774b474a0
Successfully built vk
Installing collected packages: vk
Successfully installed vk-2.0.2

In [1]:
import vk

Теперь нужно авторизоваться: создать приложение и получить токен доступа к нему.

#### Для авторизации:
    
1. [Создать](https://vk.com/apps?act=manage) приложение ВКонтакте (пройти по ссылке). Дать название, выбрать *Standalone-приложение*.
2. Включить приложение, сделать публичным (*Настройки - Состояние* и выбрать в выпадающем меню *Приложение включено и видно всем*).
3. Авторизоваться: скопировать строку ниже в браузер, в `client id` вместо 1 выставить `id` своего приложения (первая строка в настроках ‒ *ID приложения*). Если не хочется ни в чем ограничивать свое приложение, можно оставить `scope=all` (у приложения будет доступ ко всему, к чему есть доступ у пользователя).

    > ```https://oauth.vk.com/authorize?client_id=1&display=page&redirect_uri=http://oauth.vk.com/blank.html&scope=all&response_type=token```

4. Скопировать `access token` из обновленной адресной строки (все после `access_token=` и до `&expires_in`, без `&`). Никому не показывать! По этому токену можно получить доступ ко всему аккаунту.

In [2]:
# скопировать свой access token без пробелов вместо 1234 
token = '1234'

In [3]:
session = vk.Session(access_token = token) # открыть сессию для работы
api = vk.API(session) # подключиться к API

Попробуем сгрузить первые 100 постов со [стены](https://vk.com/hseofficial) неофициального сообщества ВШЭ. Сохраним ссылку на сообщество в переменную `group`:

In [4]:
group = 'hseofficial'

Обратите внимание: ссылка должна быть относительной, то есть без части с `https:/vk.com/`. Python и так будет знать, что мы работаем с сетью ВКонтакте.

Теперь получим доступ к стене этого сообщества:

In [5]:
# wall.get - "подключаемся" к стене
# count - сколько постов выгрузить (максимум)
# v - версия API, можно обойтись без нее, но Python может выдать warning

res = api.wall.get(domain = group, count = 100, v = 5.131)

Результат, сохраненный в `res`, очень похож на словарь. На самом деле, многие API возвращают результаты в формате JSON (JavaScript Object Notation), который тоже может быть представлен в виде набора пар ключ-значение.

In [9]:
res.keys()

dict_keys(['count', 'items'])

Ключами являются `count` и `items`. Нужные нам объекты (текст постов, id автора, дата и время публикации и проч.) находятся в `items`.

In [10]:
res['items'][0] # первый элемент items - первый пост со всей информацией о нем

{'id': 33850,
 'from_id': -132,
 'owner_id': -132,
 'date': 1622395168,
 'marked_as_ads': 0,
 'is_favorite': False,
 'post_type': 'post',
 'text': 'УВАЖАЕМЫЕ УЧАСТНИКИ ГРУППЫ! В ТЕЧЕНИЕ ОЧЕНЬ МНОГИХ ЛЕТ Я ВЫПОЛНЯЛА ФУНКЦИИ АДМИНИСТРАТОРА ГРУППЫ, КОТОРЫЕ ПОЛУЧИЛА ПО НАСЛЕДСТВУ ОТ ОСНОВАТЕЛЕЙ ПАБЛИКА - ВЫПУСКНИКОВ ПИТЕРСКОЙ ВЫШКИ. В НАСТОЯЩЕЕ ВРЕМЯ Я УЖЕ НЕ ЯВЛЯЮСЬ СОТРУДНИКОМ НИУ ВШЭ И НЕ ВЛАДЕЮ АКТУАЛЬНОЙ ДЛЯ ВАС ИНФОРМАЦИЕЙ. Я ПРОЩАЮСЬ, БЛАГОДАРНА КОЛЛЕГАМ, СТУДЕНТАМ И ВЫПУСКНИКАМ ЗА ВНИМАНИЕ К ГРУППЕ И АКТИВНОЕ УЧАСТИЕ. \nС уважением,\nИ.Лесовская',
 'post_source': {'type': 'vk'},
 'comments': {'can_post': 1, 'count': 10, 'groups_can_post': True},
 'likes': {'can_like': 1, 'count': 609, 'user_likes': 0, 'can_publish': 1},
 'reposts': {'count': 87, 'user_reposted': 0},
 'views': {'count': 73846},
 'hash': 'IUHhT7sG2ip-2cbnz-32iNz2cH2x'}

Помимо текста поста можно найти много всего интересного. Например, тип поста (`post_type`), дата (`date`), id поста (`id`), лайки (`likes`, которые включают информацию о том, могут ли пользователи лайкать пост и публиковать его, а также собственно число лайков), репосты (`reposts`, которые включают число репостов), число просмотров (`views`), комментарии (`comments`, которые включают информацию о том, могут ли пользователи комментировать пост, и число комментариев), и так далее.

Давайте остановимся на тексте поста, id автора, id поста, дате публикации, числе лайков и репостов. Чтобы извлечь соответствующую информацию, сохраним `items` и извлечем из них нужные поля:

In [11]:
items = res['items']

In [12]:
full_list = []

for item in items:
    L = [item['from_id'], item['id'], item['text'], item['date'],
        item['likes']['count'], item['reposts']['count']]  # нужные поля
    full_list.append(L)  # добавляем в список списков full_list

In [13]:
# несколько элементов списка
full_list[0:3]

[[-132,
  33850,
  'УВАЖАЕМЫЕ УЧАСТНИКИ ГРУППЫ! В ТЕЧЕНИЕ ОЧЕНЬ МНОГИХ ЛЕТ Я ВЫПОЛНЯЛА ФУНКЦИИ АДМИНИСТРАТОРА ГРУППЫ, КОТОРЫЕ ПОЛУЧИЛА ПО НАСЛЕДСТВУ ОТ ОСНОВАТЕЛЕЙ ПАБЛИКА - ВЫПУСКНИКОВ ПИТЕРСКОЙ ВЫШКИ. В НАСТОЯЩЕЕ ВРЕМЯ Я УЖЕ НЕ ЯВЛЯЮСЬ СОТРУДНИКОМ НИУ ВШЭ И НЕ ВЛАДЕЮ АКТУАЛЬНОЙ ДЛЯ ВАС ИНФОРМАЦИЕЙ. Я ПРОЩАЮСЬ, БЛАГОДАРНА КОЛЛЕГАМ, СТУДЕНТАМ И ВЫПУСКНИКАМ ЗА ВНИМАНИЕ К ГРУППЕ И АКТИВНОЕ УЧАСТИЕ. \nС уважением,\nИ.Лесовская',
  1622395168,
  609,
  87],
 [-132,
  33848,
  'Добрый день! У Russian Hackers новый крутой Data Science хакатон. На этот раз от известного ретейлера “Ленты” при поддержке менторов из Microsoft. \n \nХакатон Hack.Promo от «Ленты» при поддержке менторов Microsoft! \n \nПриглашаем решить задачу повышения эффективности промоакций в Big Media на основе чековых данных случайных посетителей «Ленты», а именно: \n– Построить предсказательную Uplift модель для промоакций \n– Предложить оптимальный промо-календарь (набор промоакций с указанием их типа, периода проведения, наполнения по SKU) \n \nУчастников и победителей ждут: \n🔹 Помощь экспертов из «Ленты» \n🔹 Технологическая поддержка от Microsoft \n🔹 Упрощённое трудоустройство в «Ленту» \n🔹 Главный приз: 222 000 ₽ \n🔹 Возможность поработать с уникальным датасетом, различные активности и отличная компания \n \nhttp://rhck.me/hackpromovk',
  1622114845,
  17,
  30],
 [-132, 33846, '', 1621322422, 9, 12]]

Видно, что в некоторых постах текста не обнаружено.

Из этого списка списков можно легко сделать датафрейм `pandas`. Но прежде посмотрим, как сгрузить следующие 100 (и не только 100) постов со стены. Обычно при работе с API нужно принимать во внимание две вещи: 1) какое ограничение стоит на число запросов за один раз (число постов в нашем случае); 2) какое ограничение стоит на число запросов в минуту. Чтобы действовать в соответствии с этими ограничениями, поступим так: будем грузить каждые следующие 100 постов, добавлять их к нашему списку, потом немного ждать, и грузить еще 100 постов, и так до тех пор, пока не сгрузим желаемое количество.

Давайте для начала выберем это желаемое число постов. Пусть будет 400.

In [14]:
nposts = 400

Теперь вопрос: по каким значениям нужно «пробегаться» в цикле, чтобы сгрузить посты с 100 по 400 (первые 100 уже сохранены в `res`)? По целым значениям от 2 до 4 включительно, умножая эти значения на 100. В `vk.get` есть опция `offset`. Она позволяет сдвинуть начало отсчета постов на некоторое число. Так, если мы напишем `api.wall.get(domain = group, count = 100, offset = 100, v = 5.73)`,  мы получим посты с 100 по 200, так как начало отсчета сдвинулось на 100.

Реализуем описанное выше. Для цикла нам понадобится `range()`, а для задержки после выгрузки каждой сотни постов нам пригодится функция `sleep`:

In [15]:
from time import sleep

In [17]:
for i in range(1, 3):
    res2 = api.wall.get(domain = group, count = 100, offset = 100 * i, v = 5.131)
    items2 = res2['items']
    items.extend(items2) # добавляем к первой сотне постов в items
    sleep(0.5)

In [18]:
# опять выберем только нужные поля
full_list = []
for item in items:
    L = [item['from_id'], item['id'], item['text'], item['date'],
        item['likes']['count'], item['reposts']['count']]
    full_list.append(L)

Оставлось превратить обновленный список `items` (список списков) в датафрейм. Импортируем `pandas`.

In [19]:
import pandas as pd

Создадим датафрейм:

In [20]:
df = pd.DataFrame(full_list)

In [21]:
df.head(10)

,0,1,2,3,4,5
0,-132,33850,УВАЖАЕМЫЕ УЧАСТНИКИ ГРУППЫ! В ТЕЧЕНИЕ ОЧЕНЬ МН...,1622395168,609,87
1,-132,33848,Добрый день! У Russian Hackers новый крутой Da...,1622114845,17,30
2,-132,33846,,1621322422,9,12
3,-132,33844,"Приглашает студентов ""Сириус"" в летнюю школу п...",1621322182,10,12
4,-132,33837,Студенты Вышки без жилья не останутся https://...,1620224327,40,84
5,-132,33836,Прошла традиционная Апрельская конференция. Ит...,1620224186,4,5
6,-132,33834,,1619763780,11,13
7,-132,33833,Новая ступень для роста в профессии. \n \nМаги...,1619763619,9,6
8,-132,33830,Вакансия для программистов С++:\nhttps://felen...,1619382651,5,7
9,-132,33829,Вакансия для факультета права:\nФедеральное го...,1619382567,4,12

Ура! Осталось только дать внятные названия столбцам и разобраться, почему дата представлена в таком виде. что делать со столбцами, мы уже знаем.

In [22]:
df.columns = ['from_id', 'id', 'text', 'date', 'likes', 'reposts']
df.head(10)

,from_id,id,text,date,likes,reposts
0,-132,33850,УВАЖАЕМЫЕ УЧАСТНИКИ ГРУППЫ! В ТЕЧЕНИЕ ОЧЕНЬ МН...,1622395168,609,87
1,-132,33848,Добрый день! У Russian Hackers новый крутой Da...,1622114845,17,30
2,-132,33846,,1621322422,9,12
3,-132,33844,"Приглашает студентов ""Сириус"" в летнюю школу п...",1621322182,10,12
4,-132,33837,Студенты Вышки без жилья не останутся https://...,1620224327,40,84
5,-132,33836,Прошла традиционная Апрельская конференция. Ит...,1620224186,4,5
6,-132,33834,,1619763780,11,13
7,-132,33833,Новая ступень для роста в профессии. \n \nМаги...,1619763619,9,6
8,-132,33830,Вакансия для программистов С++:\nhttps://felen...,1619382651,5,7
9,-132,33829,Вакансия для факультета права:\nФедеральное го...,1619382567,4,12

С датой все интереснее. То, что указано в столбце `date`, это дата в виде UNIX-времени (POSIX-времени). Это число секунд, прошедших с 1 января 1970 года. Несмотря на то, что такой формат даты-времени кажется необычным, он довольно широко распространен в разных системах и приложениях (см. подробнее [здесь](https://ru.wikipedia.org/wiki/Unix-%D0%B2%D1%80%D0%B5%D0%BC%D1%8F)). Этот факт, конечно, радует, но хочется получить дату в более человеческом формате. Давайте напишем функцию для перевода UNIX-времени в формат *год-месяц-день-часы-минуты-секунды*. Для этого нам понадобится модуль *datetime*.

In [23]:
from datetime import datetime

In [24]:
def date_norm(date):
    d = datetime.fromtimestamp(date) # timestamp - UNIX-время в виде строки
    str_d = d.strftime("%Y-%m-%d %H:%M:%S") # %Y-%m-%d %H:%M:%S - год-месяц-день, часы:мин:сек
    return str_d

Применим нашу функцию к элементам столбца *date* и создадим новый – *date_norm*.

In [30]:
df['date_norm'] = df.date.apply(date_norm)

In [31]:
df.head()

,from_id,id,text,date,likes,reposts,date_norm
0,-132,33850,УВАЖАЕМЫЕ УЧАСТНИКИ ГРУППЫ! В ТЕЧЕНИЕ ОЧЕНЬ МН...,1622395168,609,87,2021-05-30 20:19:28
1,-132,33848,Добрый день! У Russian Hackers новый крутой Da...,1622114845,17,30,2021-05-27 14:27:25
2,-132,33846,,1621322422,9,12,2021-05-18 10:20:22
3,-132,33844,"Приглашает студентов ""Сириус"" в летнюю школу п...",1621322182,10,12,2021-05-18 10:16:22
4,-132,33837,Студенты Вышки без жилья не останутся https://...,1620224327,40,84,2021-05-05 17:18:47

Можно разбить на части дату и время, а не сохранять одной строкой. Для этого нужно применить метод `.split()` для строк и «раздвинуть» столбцы – после разбиения получить не один столбец, а сразу несколько.

In [35]:
df['date_norm'].str.split() # результат разбиения – набор списков

0      [2021-05-30, 20:19:28]
1      [2021-05-27, 14:27:25]
2      [2021-05-18, 10:20:22]
3      [2021-05-18, 10:16:22]
4      [2021-05-05, 17:18:47]
                ...
295    [2018-07-20, 21:27:23]
296    [2018-07-19, 12:12:51]
297    [2018-07-16, 20:06:27]
298    [2018-07-16, 18:47:02]
299    [2018-07-13, 19:11:20]
Name: date_norm, Length: 300, dtype: object

In [28]:
df['date_norm'].str.split(expand = True) # теперь расширили – 2 столбца

              0         1
0    2019-12-10  12:57:29
1    2019-12-10  12:54:25
2    2019-12-10  12:53:45
3    2019-12-10  12:53:06
4    2019-12-10  12:50:33
..          ...       ...
295  2018-01-23  14:43:19
296  2018-01-17  08:50:56
297  2018-01-10  11:32:29
298  2018-01-10  11:24:29
299  2018-01-05  15:13:01

[300 rows x 2 columns]

In [29]:
new_dat = df['date_norm'].str.split(expand = True) # сохраняем
df['Date'] = new_dat[0] # первый столбец – в Date
df['Time'] = new_dat[1]  # второй столбец – в Time

In [30]:
df.head()

,from_id,id,text,date,likes,reposts,date_norm,Date,Time
0,-132,33029,Что меня огорчает,1575971849,8,0,2019-12-10 12:57:29,2019-12-10,12:57:29
1,-132,33028,,1575971665,13,2,2019-12-10 12:54:25,2019-12-10,12:54:25
2,-132,33027,,1575971625,4,0,2019-12-10 12:53:45,2019-12-10,12:53:45
3,-132,33026,,1575971586,8,1,2019-12-10 12:53:06,2019-12-10,12:53:06
4,-132,33025,"Вышка в прошлом году запустила новый проект, о...",1575971433,8,0,2019-12-10 12:50:33,2019-12-10,12:50:33

Всё! Материалы о разных методах и функциях для `vk.api` можно найти в [официальной документации](https://vk.com/dev/manuals).